.row
  .col-sm-12
    %h1.mt-4.mx-auto  Hello, Instructor.

    %p.mt-4.mx-auto Key: #{Rails.application.config_for(:lti)['key']}
    %p.mt-4.mx-auto Secret: #{Rails.application.config_for(:lti)['secret']}
